body{
    font-family: 'Tangerine', bold, serif;
    color: black;
    font-size: 25px;
    max-width: 90%;
    margin: 130px;
    background-color:#d2dee4;
    background: radial-gradient(rgb(210, 222, 228), rgb(116, 149, 182));
    background-image: url(./assets/space3.jpg);
    
    
}
.liste{
    margin: 250px;
    font-size: 160%;
    background-color:#f2f2f2;
    font-style: italic;
    border-left: 5px solid orange;
    
    
}
.citation{
    background-color: #f2f2f2;
    padding-left: 30px;
    font-style: italic;
    border-left: 5px solid orange;
    font-size: 50px;
  
}
.red{
    color: red;
    text-transform: capitalize;
    
}
.green{
    color: lightgreen;
    text-transform: capitalize;
}
.tableau{
    border: 1px dashed white;
    width: 120px;
    height: 50px;
}
.tableau1{
    background-color: white;
}
.tableau2{
    background-color: grey;
}
.liste{
    list-style-type: none;
}
.tooltip :hover{
    transition:all 1s;
  opacity:1;
}
.footer{
    font-style: "Times New Roman", Times, serif;
}

.fermier{
    border-left: 5px solid lightblue;
}
.villageois{
    border-left: 5px solid darkblue;
}
.titre{
    background-color: darkgoldenrod;
}

.poucelevé{
    position: absolute;
    margin-left: -55px;
   
}
.poucebaissé{
    margin-left: -55px;
    margin-top: 25px;
}
.chat{
    position: absolute;
    margin-left: -55px;
    margin-top: 45px;
}
#poucelevé{
   
}
#pouebaissé{
    margin-top: -35px;
}
#chat{
    position: absolute;
    margin-top: 55px;
}
